<table class="table table-bordered table-hover">
    <caption>List of users</caption>
    <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Second</th>
            <th scope="col">Third</th>
            <th scope="col">Birth Date</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Ticket</th>
        </tr>
    </thead>
    <tbody>
        @users
    </tbody>
</table>